<!-- <button type="button" class="btn btn-info mb-3" (click)="open(searchModal)">
  Search
</button> -->

<div *ngFor="let post of postPage?.content">
  <!-- <div class="card mb-3" (click)="open(postModal)"> -->
  <div class="card mb-3">
    <!-- <imgclass="card-img-top img-responsive" [src]="postFrontImage" alt="Card image cap" /> -->
    <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">
        {{ post.description }}
      </p>
    </div>
    <div class="card-footer">
      <div *ngIf="post.updateDate; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock
        ><small>{{ convertDate(post.updateDate) }}</small></ng-template
      >
      <ng-template #elseBlock
        ><small>{{ convertDate(post.creationDate) }}</small></ng-template
      >
    </div>
  </div>
  <!-- <ng-template #postModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ post.title }}</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ post.description }}</p>
      <p>
        <small class="text-muted">{{ getPostTags(post.tags) }}</small>
      </p>
      <a
        class="badge badge-info"
        (click)="open(profileModal); getProfileFromService(post.user)"
      >
        Owner Profile
      </a>
    </div>

    <div class="modal-footer">
      <div *ngIf="post.updateDate; then thenBlock; else elseBlock"></div>
    </div>
  </ng-template>
  <ng-template #profileModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="postProfile">
      <p *ngIf="postProfile.name">{{ "Name: " + postProfile.name }}</p>
      <p *ngIf="postProfile.email">{{ "Email: " + postProfile.email }}</p>
      <p *ngIf="postProfile.address">{{ "Address: " + postProfile.address }}</p>
      <hr />
      <p *ngIf="postProfile.description">{{ postProfile.description }}</p>
    </div>
    <div class="modal-footer" *ngIf="postProfile">
      <small>{{ "Joined: " + convertDate(postProfile.joinDate) }}</small>
    </div>
  </ng-template> -->
</div>

<!-- <ng-template #searchModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Search</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="searchForm" class="m-3" (ngSubmit)="search()">
      <div class="row mb-3">
        <label>Tags:</label>

        <label
          *ngFor="let tag of searchTags"
          ngbTooltip="{{ tag.description }}"
          [openDelay]="500"
        >
          {{ tag.name }},
        </label>
      </div>
      <div class="row mb-3">
        <select class="form-control col" formControlName="tagControl">
          <option *ngFor="let tag of tags; index as i" [value]="i">
            {{ tag.name }}
          </option>
        </select>
        <button
          type="button"
          class="btn btn-info col-auto ml-3"
          (click)="addSearchTag()"
        >
          Add
        </button>
      </div>
      <div class="row">
        <button
          type="button"
          class="btn btn-info col"
          (click)="clearSearchTag()"
        >
          Clear
        </button>
        <button type="submit" class="btn btn-info col ml-3">Search</button>
      </div>
    </form>
  </div>
</ng-template> -->

<ngb-pagination
  class="d-flex justify-content-center"
  [pageSize]="postPageCriteria.pageSize ?? 10"
  [collectionSize]="postPage?.totalElements ?? 0"
  [(page)]="postPageCriteria.pageNumber"
  (pageChange)="getPostPage()"
  *ngIf="postPage?.totalElements ?? 0 / postPageCriteria.pageSize > 1"
>
</ngb-pagination>
