<div class="card" *ngIf="post">
  <!-- <div class="card-header"></div> -->

  <div class="card-body">
    <label class="card-title h4" id="modal-basic-title">{{ post.title }} </label>
    <!-- <img *ngIf="postImageSrc" src="{{ postImageSrc }}" class="card-img-bottom" /> -->
    <hr />
    <label class="card-text">{{ post.description }} </label>
    <hr />
    <label>
      <span class="align-middle h6 mr-1">Tags:</span>
      <div class="badge badge-light mr-1" *ngFor="let tag of post.tags">
        <span class="align-middle h6" ngbTooltip="{{ tag.description }}">
          {{ tag.name }}
        </span>
      </div>
    </label>

    <!-- <a
        class="badge badge-info"
        (click)="open(profileModal); getProfileFromService(post.user)"
      > -->
    <br />
    <label>
      <a class="badge badge-secondary align-middle" (click)="openProfile()">
        <span class="align-middle h6">Publisher</span>
      </a>
    </label>
  </div>

  <div class="card-footer">
    <small *ngIf="post.creationDate"> {{ 'Created: ' + convertDate(post.creationDate) }} </small>
    <small *ngIf="post.creationDate !== post.updateDate" class="text-muted float-right">
      {{ 'Last updated: ' + convertDate(post.updateDate) }}
    </small>
  </div>
</div>
