<div class="card mb-3" *ngIf="post">
  <div class="card-header">
    <h4 class="card-title" id="modal-basic-title">{{ post.title }}</h4>
  </div>

  <div class="card-body">
    <p>{{ post.description }}</p>
    <label class="badge badge-light mr-1" *ngFor="let tag of post.tags">
      <span class="align-middle h6" ngbTooltip="{{ tag.description }}">
        {{ tag.name }}
      </span>
    </label>
    <div>
      <small *ngIf="post.creationDate"> {{ 'Created: ' + convertDate(post.creationDate) }} </small>
      <small *ngIf="post.creationDate < post.updateDate" class="text-muted float-right">
        {{ 'Last updated: ' + convertDate(post.updateDate) }}
      </small>
    </div>
  </div>
  <img *ngIf="postImageSrc" src="{{ postImageSrc }}" class="card-img-bottom" />
</div>

<!-- <div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    <h4 class="card-title" id="modal-basic-title">Owner</h4>
  </div>
  <div class="card-body mb-3 text-center">
    <div class="row">
      <div class="col-md-auto">
        <img #profileImage class="rounded-circle" src="{{ profileImageSrc }}" />
      </div>
      <div class="col-md text-center text-md-left">
        <p class="h5">
          {{ profile.name }}
        </p>
        <p *ngIf="profile.description">{{ profile.description }}</p>
        <div *ngIf="profile.email">{{ 'Email: ' + profile.email }}<br /></div>
        <div *ngIf="profile.address">{{ 'Address: ' + profile.address }}<br /></div>
        {{ 'Joined: ' + convertDate(profile.joinDate) }}
      </div>
    </div>
  </div>
</div> -->
