<div class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container text-center">
    <div class="offset-md-3 col-md-6">
      <div class="row my-3">
        <div class="col-4">
          <a href="https://www.facebook.com/" class="btn p-0 navbar-text">
            <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
          </a>
        </div>
        <div class="col-4">
          <a href="https://twitter.com/home" class="btn p-0 navbar-text">
            <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
          </a>
        </div>
        <div class="col-4">
          <a href="https://www.youtube.com/" class="btn p-0 navbar-text">
            <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="w-100 border-top navbar-text"></div>
      </div>
      <div class="row">
        <p class="w-100 navbar-text">Copyright should be here</p>
      </div>
    </div>
  </div>
</div>
