<h1 class="display-1 text-center">Welcome To PetShop!</h1>
<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egestas eros turpis, in mollis eros elementum id.
  Aenean turpis nulla, tempor non leo nec, ornare rutrum purus.
</p>

<p>
  Aenean id turpis eu nunc facilisis scelerisque ut nec nisl. Morbi tempor ex volutpat dui maximus dignissim. In
  efficitur viverra viverra. Donec quis cursus magna, sit amet accumsan lacus. Nulla eget convallis ex, ac viverra nisl.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In risus elit, commodo et eros quis, condimentum rhoncus
  nibh. Nunc commodo erat eu erat tristique, eget gravida nibh mollis.
</p>
